.comments {
  max-height: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.comments > div > div {
  margin: 8px;
}

.card {
  padding: 8px 0 8px 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card svg {
  vertical-align: middle;
  margin-right: 8px;
}

.moreChip {
  position: absolute;
  top: 0;
  left: 50%;
}

.editor {
  height: 100px;
}

.dialogContent {
  /* Scrollbar on dialog content with the RTE, without this */
  padding-bottom: 18px !important;
}
