.iconPanel {
  margin: 8px;
}

.iconPanel img {
  height: 32px; /* Largest size that fits in appbar with 8px top/bottom margin without increasing the overall toolbar size */
}

.iconPanel > span {
  /* images are in span */
  margin-right: 8px;
}

.iconPanel > span > span {
  /* MUI badges rise out of the top of the screen by default, this brings them down enough to fit */
  top: 2px;
}
